.delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 300px;
}

.delete-spot-h2 {
    margin: 0px;
}

.delete-section {
    padding-bottom: 10px;
    color: white;
    cursor: pointer;
}

.yes-button {
    width: 300px;
    padding: 12px;
    margin-bottom: 12px;
    color: white;
    background-color: #ea4242;
    border: 1px solid black;
    box-shadow: 3px 3px 2px black;
    cursor: pointer;
}

.no-button {
    width: 300px;
    padding: 12px 0px;
    color: white;
    background-color: grey;
    border: 1px solid black;
    box-shadow: 3px 3px 2px black;
    cursor: pointer;
}
