.form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}

.section-header {
    margin-bottom: 0px;
}

.section-p {
    margin-top: 8px;
}

.city-state {
    display: flex;
    flex-direction: row;
}

.city-header {
    padding-right: 0px;
}

.state-header {
    padding-left: 10px;
}

.city-input {
    width: 300px;
}


.comma {
    display: flex;
    align-items: end;
}


.text-box {
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 500px;
}

.price-input-detail {
    display: flex;
    flex-direction: row;
}

.dollar-sign {
    padding-top: 6px;
    padding-right: 5px;
}

.price-section {
    width: 478px;
}

.create-spot-button {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.create-spot {
    background-color: #eb5858;
    color: rgb(255, 255, 255);
    width: 120px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 3px 2px black;
}

.create-spot:disabled {
    background-color: white;
    border: 1px solid grey;
    box-shadow: 5px 3px 2px grey;
    color: rgb(87, 83, 83);
    padding: 5px 10px;
}

.section-divider {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.errors {
    color: red;
    font-size: small;
}
