.all-spots {
    display: flex;
    justify-content: center;
}

.spots-container {
    display: flex;
    grid-template-columns: auto;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 15px;
    column-gap: 20px;
    padding-top: 25px;
    max-width: 1300px;
}

.spot-preview {
    cursor: pointer;
}

.preview-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.tool-tip {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.hover-box {
    visibility: hidden;
    position: absolute;
    background-color: #8ac3ff;
    align-items: center;
    color: white;
    text-align: center;
    padding: 5px;
    width: 80%;
    left: 10%;
    bottom: 50%
}

.tool-tip:hover .hover-box {
    visibility: visible;
}

.description-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
}

.ledtside-text {
    display: flex;
    flex-direction: column;
}

.rightside-box {
    display: flex;
    justify-content: flex-end;
}

.price-box {
    margin: 0px;
    padding-top: 5px;
}
